# Ignore all CSV files
*.csv

# You can also ignore specific folders or other file types here

# Ignore large files exceeding 100MB
Second Semester/RoboTics641/252800065 Week 7-8 Assignment Part 1U-NET
Second Semester/RoboTics641/Zip Files/252800065 Week 7-8 Assignment Part 1.zip
Second Semester/RoboTics641/Zip Files